
aspose-words
cryptography
easyocr
farm-haystack
mysql-connector-python
nltk
numpy
pandas
pdf2image
poppler-utils
PyPDF2
Pillow
pyodbc
python-dateutil
regex
streamlit
gunicorn
Flask
Flask-RESTful

